{{#if this.showButton}}
  <button
    class={{this.buttonClass}}
    disabled={{this.isLoading}}
    {{on "click" this.toggleInterest}}
    title={{if this.hasInterest (i18n "practice_matching.already_interested") (i18n "practice_matching.add_interest")}}
  >
    {{d-icon this.buttonIcon}}
    <span class="d-button-label">
      {{#if this.isLoading}}
        {{i18n "practice_matching.loading"}}
      {{else}}
        {{this.buttonText}}
      {{/if}}
    </span>
  </button>
{{/if}} 